body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}
.header {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: background 0.3s, padding 0.3s;
}
.header.scrolled {
    background: #fff;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.nav {
    list-style: none;
    display: flex;
    
}
.nav li {
    display: inline;
}
.nav a {
    text-decoration: none;
    color: #333;
}
.carousel {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 90vh;
}
.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.carousel img.active {
    opacity: 1;
    transform: scale(1.05);
}
.button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}
.button.left {
    left: 10px;
}
.button.right {
    right: 10px;
}
.svg-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
section {
    height: 100vh;
   
}