{% extends 'layout.html' %}

{% block content %}
<h3 class="me-2">This is all brands:  </h3>
<table class="table table-dark table-hover  table-bordered  ">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
    
  </thead>
  <tbody>
    {% for brand in brands %}

        <tr>
            <th scope="row">{{brand.id}}</th>
            <td>{{brand.name}}</td>
            <td><a href="{{url_for('updatebrand',id=brand.id)}}">edit</a></td>
            <td><a href="">Delete</a></td>
        </tr>
    {% endfor %}
  </tbody>


</table>

{% endblock content %}