{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}
{% block login_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/signup.css') }}">
{% endblock %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
<section class="body">
  <main class="form-signin">
    <form method="post" enctype="multipart/form-data">
      <img class="d-block m-lg-auto" src="{{ url_for('static', filename='images/ewa_beauty_logo2.png' )}}" alt="" width="72" height="57">
      <h1 class="">REGISTER</h1>
      <div class="form-floating">
           {{ render_field(form.name, class='form-control',placeholder='Your Name' ) }}
        
      </div>
      <div class="form-floating">
        {{ render_field(form.email, class='form-control', id='floatingInput',placeholder='name@example.com' ) }}
        
      </div>
      <div class="form-floating">
          {{ render_field(form.password, class='form-control', id='floatingPassword', placeholder='Password') }}
        
      </div>
      <div class="form-floating">
        {{ render_field(form.confirm, class='form-control', id='floatingPassword', placeholder='Password') }}
      
    </div>
  
      <input class="w-100 btn btn-lg sub" type="submit" value="Sign Up">
      <p class="mt-5 mb-3 text-muted cpoy">&copy; 2023-2024</p>
    </form>
  </main>
</section>
{% endblock %}