{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}
{% block login_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/signup.css') }}">
{% endblock %}

{% block content %}
{% from "_formhelpers.html" import render_field %}

<section class="body pt-5">
    <main class="form-signin mt-5">
        <form method="post" enctype="multipart/form-data">
            {{ form.csrf_token}}
          <img class="d-block m-lg-auto" src="{{ url_for('static', filename='images/ewa_beauty_logo2.png' )}}" alt="" width="72" height="57">
          {% include '_messages.html' %}
          <h1 class="">LOGIN</h1>
      
          <div class="form-floating">
            {{ render_field(form.email, class='form-control', id='floatingInput',placeholder='name@example.com' ) }}
            
          </div>
          <div class="form-floating">
              {{ render_field(form.password, class='form-control', id='floatingPassword', placeholder='Password') }}
            
          </div>
    
          <input class="w-100 btn btn-lg sub" type="submit" value="Sign in">
          <p class="mt-3 text-center text-muted">not have account?<a href="{{ url_for('customer_register') }}" class=""> Register</a></p>
          <p class="mt-5 mb-3 text-muted cpoy">&copy; 2023-2024</p>
        </form>
      </main>
</section>
{% endblock %}