{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Error 403{% endblock %}</h1>
{% endblock %}

{% block login_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/signup.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="text-center pt-5">
        <h1 class="pt-5">Order Details</h1>
        
        <div class="invoice-details text-start">
            <h2>Invoice: {{ invoice }}</h2>
            <p><strong>Customer Name:</strong> {{ customer.name }}</p>
            <p><strong>Customer Email:</strong> {{ customer.email }}</p>
            <p><strong>Customer Address:</strong> {{ customer.addresse }}</p>
            <p><strong>Customer City:</strong> {{ customer.city }}</p>
            <p><strong>Customer Country:</strong> {{ customer.country }}</p>
            <p><strong>Customer Phone:</strong> {{ customer.phone }}</p>
            <p><strong>Order Status:</strong> {{ orders.status }}</p>
        </div>
    
        <div class="order-summary">
            <h2>Order Summary</h2>
            <table>
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Discount</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in orders.orders.values() %}
                    <tr>
                        <td>{{ product['name'] }}</td>
                        <td>${{ product['price'] }}</td>
                        <td>{{ product['quantity'] }}</td>
                        <td>{{ product['discount'] }}%</td>
                        {% set price_float = product['price'] | float %}
                        {% set discount_float = product['discount'] | float %}
                        {% set discounted_price = (price_float * (1 - (discount_float / 100))) %}
                        <td>${{ discounted_price * product['quantity'] | int }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    
            <div class="totals">
                <p><strong>Subtotal:</strong> ${{ subtotal }}</p>
                <p><strong>Grand Total:</strong> ${{ grandtotal }}</p>
            </div>
        </div>
    
        <div class="back-button">
            <a href="{{ url_for('home') }}" class="btn">Back to Home</a>
        </div>
    </div>
</div>
{% endblock %}
