<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendations</title>
</head>
<body>
    <h1>Recommendations for {{ skin_type }} Skin Type</h1>
    {% if recommendations %}
        <ul>
            {% for recommendation in recommendations %}
            <li class="scrollbar-item">
              <div class="shop-card">


                <div class="card-banner img-holder" style="--width: 540; --height: 720;">
                    <h2>{{ recommendation.name }}</h2>
                    <p>Brand: {{ recommendation.brand }}</p>
                    <p>Price: ${{ recommendation.price }}</p>
                    <p>Discount: {{ recommendation.discount }}%</p>
                    <p>Discount: {{ recommendation.Ingredients }}%</p>
                    <p>{{ recommendation.description }}</p>
                  <div class="card-actions">

                    <button class="action-btn" aria-label="add to cart">
                      <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                    </button>

                  </div>
                </div>

                <div class="card-content">

                  <div class="price">
                    {% if product.discount > 0 %}
                    {% set original_price = product.price / (1 - (product.discount / 100)) %}
                    <del class="del">{{ original_price | round(2) }} $</del>
                    {% endif %}
                    <span class="span">{{ product.price }} $</span>
                  </div>

                  <h3>
                    <a href="#" class="card-title">{{ product.name }}</a>
                  </h3>

                  <div class="card-rating">

                    <p class="rating-text">Rank : 4.4</p>

                  </div>

                </div>

              </div>
            </li>
                <li>
                    <h2>{{ recommendation.name }}</h2>
                    <p>Brand: {{ recommendation.brand }}</p>
                    <p>Price: ${{ recommendation.price }}</p>
                    <p>Discount: {{ recommendation.discount }}%</p>
                    <p>Discount: {{ recommendation.Ingredients }}%</p>
                    <p>{{ recommendation.description }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No recommendations available for this skin type.</p>
    {% endif %}
    
</body>
</html>
