{% extends 'base.html' %}

{% block content %}




<section class="d-flex flex-wrap justify-content-center">
  <div class="Simg1">
    <div>
      <h2>Best of <br> SkinWare</h2>
      <a href="#"><button>EXPLORE</button></a>
    </div>
    <img src="{{ url_for('static', filename='images/pimg.png') }}" alt="">
  </div>
  <div class="Simg2">
    <div>
      <h2>Best of <br> SkinWare</h2>
      <a href="#"><button>EXPLORE</button></a>
    </div>
    <img src="{{ url_for('static', filename='images/imgs2.png') }}" alt="">
  </div>
</section>
<section>

</section>
{% endblock content %}