{% extends 'layout.html' %}

{% block content %}
    <form method="POST" enctype="multipart/form-data">
        <div>
            {{ form.name.label }}<br>
            {{ form.name(size=20) }}<br>
            {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.price.label }}<br>
            {{ form.price(size=20) }}<br>
            {% for error in form.price.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.discount.label }}<br>
            {{ form.discount(size=20) }}<br>
        </div>
        <div>
            {{ form.quantity.label }}<br>
            {{ form.quantity(size=20) }}<br>
            {% for error in form.quantity.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.description.label }}<br>
            {{ form.description(rows=5, cols=40) }}<br>
            {% for error in form.description.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4"><input type="file" name="img1"></div>
                <div class="col-md-4"><input type="file" name="img2"></div>
                <div class="col-md-4"><input type="file" name="img3"></div>
            </div>
        </div>
          <div>
              <label for="brand">Brand</label><br>
              <select name="brand" id="brand">
                <option value="{{ product.brand_id }}">{{ product.brand.name }}</option>
                  {% for brand in brands %}
                      <option value="{{ brand.id }}">{{ brand.name }}</option>
                  {% endfor %}
              </select>
          </div>
          <div>
            <label for="brand">Label</label><br>
            <select name="label" id="label">
              <option value="{{ product.label_id }}">{{ product.label.name }}</option>
                {% for label in labels %}
                    <option value="{{ label.id }}">{{ label.name }}</option>
                {% endfor %}
            </select>
        </div>
          <div>
              <label for="category">Category</label><br>
              <select name="category" id="category">
                <option value="{{ product.category_id }}">{{ product.category.name }}</option>
                  {% for category in categories %}
                      <option value="{{ category.id }}">{{ category.name }}</option>
                  {% endfor %}
              </select>
          </div>
        <button type="submit" class="btn btn-success mt-lg-4">Add Product</button>
    </form>
{% endblock content %}
